@media (prefers-color-scheme: dark) {
  body {
    color: rgb(255 255 255 / 1) /* #ffffff */;
    background-color: #11224a;
  }

  .overlay {
    background-color: transparent;
  }

  .popup {
    border: 1px solid #adadad;
  }

  .popup {
    background-color: #0f172a;
  }

  .product-container,
  .product-image-container,
  .popup-image-container {
    border-color: #adadad;
  }

  .end-text {
    border-color: #adadad;
    color: white;
  }

  .end-text:hover {
    background-color: #0f172a;
    color: white;
  }
}
